[submodule "projects/soliplex"]
	path = projects/soliplex
	url = https://github.com/soliplex/soliplex.git
[submodule "projects/ingester"]
	path = projects/ingester
	url = https://github.com/soliplex/ingester.git
[submodule "projects/ingester-agents"]
	path = projects/ingester-agents
	url = https://github.com/soliplex/ingester-agents.git
[submodule "projects/pdf-splitter"]
	path = projects/pdf-splitter
	url = https://github.com/soliplex/pdf-splitter.git
[submodule "projects/flutter"]
	path = projects/flutter
	url = https://github.com/soliplex/flutter.git
[submodule "projects/chatbot"]
	path = projects/chatbot
	url = https://github.com/soliplex/chatbot.git
